body {
    background-image: url("chrome-chains.jpg");
    width: 1200px;
    height: 800px;
}
#logga {
    width: 300px;
    height: 120px;
    background-color: red;
    -moz-transform: skew(-50deg);
    margin-left: 100px;
}
#banner {
    width: 700px;
    height: 120px;
    background-color: red;
    margin-left: 350px;
}
#inloggning {
    width: 300px;
    height: 120px;
    margin-left: 30px;
    background-color: grey;
    margin-top: 10px;
    display: inline-block;
}
#bilder {
    width: 850px;
    height: 120px;
    margin-left: 345px;
    background-color: red;
    display: inline-block;
    margin-top: -15px;
}
#meny {
    width: 300px;
    height: 450px;
    background-color: red;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
    
}
#huvud {
    width: 600px;
    height: 450px;
    background-color: red;
    margin-left: 345px;
    display: inline-block;
}
#alm {
    width: 200px;
    height: 200px;
    background-color: red;
    margin-left: 650px;
    display: inline-block;
}
#fraga {
    width: 200px;
    height: 190px;
    background-color: red;
    margin-left: 1025px;
    margin-top: 280px;
}
#claimer {
    background-color: red;
    width: 1198px;
    height: 50px;
    margin-top: 10px;
    margin-left: 29px;
}
.links {
    font-size: 12pt;
    font-family: 'Shojumaru';
}
a {
    padding: 10px;
}
#regmain {
    width: 500px;
    height: 600px;
    margin-left: 400px;
    background-color: red;
    margin-top: 25px;
    
}
reg, body {
    height: 630px;
    width: 1200px;
}
reg, p {
    font-size: 9pt;
}        
